<!doctype html>
<html ng-app="listaMotorista">
<head>
   <!-- META -->
   <meta charset="utf-8">
   <!-- Otimizar a exibição em dispositivos móveis -->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Lista de Motoristas</title>

   <!-- CSS -->
   <!-- Carregando o bootstrap-->
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
   <style>
       html                    { overflow-y:scroll; }
       body                    { padding-top:50px; }
       #lista-motoristas         { margin-bottom:30px; }
       form button             { margin-top: 25px; }
       form .form-group:first-child { padding-left: 0; }
   </style>

   <!-- JS -->
   <!-- Carregando a biblioteca jQuery -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
   <!-- Carregando a biblioteca AngularJS -->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   <script src="../controller/MotoristaController.js"></script>

</head>
<body ng-controller="mainController">

    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Sistema de Corridas</a>
                </div>
                <ul class="nav navbar-nav">
                <li><a href="../../">Home</a></li>
                <li class="active"><a href="listaMotorista.html">Gegenciar Motoristas</a></li>
                <li><a href="../../Passageiro/view/listaPassageiro.html">Controle de Passageiros</a></li>
                <li><a href="../../Corrida/view/listaCorrida.html">Corridas</a></li>
                </ul>
            </div>
    </nav>
   <div class="container">

       <div class="jumbotron text-center">
           <h1>Lista de Motoristas</h1>
       </div>

        <div id="motorista-form">
        <hr>
            <form name="formMoto">
                <div class="form-group col-md-4">
                    <label for="nomeMotorista">Nome</label>
                    <input type="text" class="form-control" id="nomeMotorista" placeholder="Nome Sobrenome" ng-model="formMotorista.nome" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="nascMotorista">Data nascimento</label>
                    <input type="text" class="form-control" id="nascMotorista" ng-model="formMotorista.dtNasc" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="cpfMotorista">CPF</label>
                    <input type="text" class="form-control" id="cpfMotorista" placeholder="Digite apenas os números" ng-model="formMotorista.cpf" required>
                </div>
                <div class="form-group col-md-3">
                        <label for="carro">Modelo do Carro</label>
                        <input type="text" class="form-control" id="carro" placeholder="Modelo do carro" ng-model="formMotorista.modeloCarro" required>
                </div>
                <div class="form-group col-md-3">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" ng-model="formMotorista.status" required>
                                <option ng-value="true">Ativo</option>
                                <option ng-value="false">Inativo</option>
                        </select>
                        <!--input type="text" class="form-control" id="status" ng-model="formMotorista.status"-->
                </div>
                <div class="form-group col-md-3">
                        <label for="sexo">Sexo</label>
                        <select class="form-control" id="sexo" ng-model="formMotorista.sexo" required>
                                <option ng-value="Masculino">Masculino</option>
                                <option ng-value="Feminino">Feminino</option>
                        </select>
                        <!--<input type="text" class="form-control" id="sexo" ng-model="formMotorista.sexo"-->
                </div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-primary" ng-disabled="formMoto.$invalid" ng-click="criarMotorista()">Criar</button>
                    <button type="submit" class="btn btn-info" ng-disabled="formMoto.$invalid" ng-click="atualizarMotorista()">Atualizar</button>
                </div>
            </form>
        </div>
       <!-- LISTA MOTORISTAS -->
       <div id="lista-motoristas">
           <table class="table table-striped">

               <tr>
                   <th>Nome</th>
                   <th>Carro</th>
                   <th>CPF</th>
                   <th>Status</th>
                   <th>Opções</th>
               </tr>

               <!-- LOOP PARA CARREGAR TODOS OS MOTORISTAS EM $scope.motoristas -->
               <tr ng-repeat="motorista in motoristas">
                   <td>{{ motorista.nome }}</td>
                   <td>{{ motorista.modeloCarro }}</td>
                   <td>{{ motorista.cpf }}</td>
                   <td>{{ motorista.status }}</td>
                   <td>
                       <button type="button" class="btn btn-default" ng-click="editarMotorista(motorista._id)">Editar</button>
                       <button type="button" class="btn btn-primary" ng-click="deletarMotorista(motorista._id)">Remover</button>
                   </td>
               </tr>

           </table>
       </div>

   </div>

</body>
</html>